
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// Plus imports for other components in your app.

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
// $custom-typography: mat-typography-config(
//   $font-family: var(--vscode-font-family)
// );

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
// @include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
// @include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
// @include angular-material-typography($custom-typography);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// Override the typography in the core CSS.
// @include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $ngsrc-primary: mat-palette($mat-indigo);
// $ngsrc-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $ngsrc-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
// $ngsrc-theme: mat-light-theme($ngsrc-primary, $ngsrc-accent, $ngsrc-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($ngsrc-theme);

/* You can add global styles to this file, and also import other style files */

